{% load widget_tweaks %}
{% load humanize %}

<div class="px-24 mt-16">
    <div class="wrapper-inline col-span-full" data-js-inline="inline_item_rateio">
        {{item_rateio_inline_formset.management_form}}
        <label class="font-semibold label col-span-full">Itens de rateio</label>
        {% for inline_form in item_rateio_inline_formset %}
        <div class="inline-item inline-{{forloop.counter0}} border border-neutral-30 rounded-sm py-24 px-16 my-16 relative"
            data-js-inline="inline_item_rateio">
            {{inline_form.errors}}
            <div class="hidden">
                {{inline_form.DELETE}}
                {{inline_form.id}}
            </div>

            <div class="grid grid-cols-4 gap-16 md2:grid-cols-1">
                <div class="flex flex-col gap-4">
                    <label for="" class="label">{{inline_form.empresa.label}}</label>
                    <div class="select-container h-48">
                        {{inline_form.empresa}}
                    </div>
                </div>
                <div class="flex flex-col gap-4">
                    <label for="" class="label">{{inline_form.termo_cooperacao.label}}</label>
                    <div class="select-container h-48">
                        {{inline_form.termo_cooperacao}}
                    </div>
                </div>
                <div class="flex flex-col gap-4">
                    <label for="" class="label">{{inline_form.porcentagem.label}}</label>
                    {{inline_form.porcentagem|add_class:'h-48'|attr:'js-ativo'}}
                </div>
                <div class="flex flex-col gap-4" js-value>
                    <label for="" class="label">{{inline_form.valor.label}}</label>
                    <div class="input-icon icon-left">
                        {{inline_form.valor|add_class:'h-48'|attr:'js-ativo'}}
                        <svg>
                            <use xlink:href="#icon_dolar"></use>
                        </svg>
                    </div>
                </div>
            </div>

            <button type="button"
                class="remove-button cursor-pointer w-32 h-32 bg-alert-red-10 rounded-full absolute top-8 right-8 grid place-items-center transition-transform hover:scale-110 remove_inline-{{forloop.counter0}}"
                data-js-inline="inline_item_rateio">
                <svg class="text-alert-red-100 w-16 h-16">
                    <use xlink:href="#icon_close"></use>
                </svg>
            </button>
        </div>
        {% endfor %}
    </div>

    {% if not possui_itens_rateio %}
    <div class="add_inline botao-rateio mt-16 flex justify-start" data-js-inline="inline_item_rateio" js-calculo>
        <button type="button" class="btn secondary h-48 icon-left">
            <svg>
                <use xlink:href="#icon_plus"></use>
            </svg>
            <span>Adicionar item de rateio</span>
        </button>
    </div>
    {% endif %}
</div>