{% extends 'base.html' %}
{% load humanize %}

{% block extra_styles_vendor %}
<!--  -->
{% endblock %}

{% block extra_styles %}
{% endblock %}

{% block content %}
<main class="container-content">
    {% include 'top_buttons.html' %}
    <div class="card mt-32 mb-48 p-24  md2:mt-0 flex flex-col">
        <div class="flex items-center justify-between gap-32 md2:flex-wrap mb-32">
            <h1 class="title">
                <svg class="text-primary-pure w-24 h-24">
                    <use xlink:href="#icon_termo"></use>
                </svg>
                {{title}}
            </h1>
            <div class="flex items-center justify-between gap-16 md2:flex-wrap">
                <button class="btn secondary red h-48  icon-right" data-id="modal_delete" data-xopen="modal_delete">
                    <svg>
                        <use xlink:href="#icon_close"></use>
                    </svg>
                    Excluir rateio
                </button>
            </div>

        </div>

        <div class="grid grid-cols-3 gap-16 md2:flex md2:flex-col">
            <label for="" class="label font-semibold col-span-full">Informações do termo</label>
            <div class="flex flex-col gap-1">
                <label class="label-detail">Nome</label>
                <p class="text-detail">{{object.nome|default:'-'}}</p>
            </div>
            <div class="flex flex-col gap-1">
                <label class="label-detail">Valor</label>
                <p class="text-detail">{{object.valor|default:'0,00'|intcomma}}</p>
            </div>
            <div class="flex flex-col gap-1">
                <label class="label-detail">Lançamento financeiro</label>
                {% if object.lancamento_financeiro %}
                    <a class="text-detail text-primary-pure" target="_blank" href="{% url 'lancamento_financeiro_detail' object.lancamento_financeiro.id %}">{{object.lancamento_financeiro|default:'-'}}</a>
                {% else %}
                    <p class="text-detail">{{object.lancamento_financeiro|default:'-'}}</p>
                {% endif %}
            </div>
        
            {% for item_rateio in object.itemrateio_set.all %}
                <div class="h-[.0625rem] col-span-full my-8 bg-neutral-20"></div>

                <label for="" class="label font-semibold col-span-full">Item {{item_rateio.id}}</label>
                <div class="flex flex-col gap-1">
                    <label class="label-detail">Empresa</label>
                    <p class="text-detail">{{item_rateio.empresa|default:"-"}}</p>
                </div>

                <div class="flex flex-col gap-1">
                    <label class="label-detail">Termo</label>
                    {% if item_rateio.termo_cooperacao %}
                        <a class="text-detail text-primary-pure" target="_blank" href="{% url 'termo_cooperacao_nivel4_detail' item_rateio.termo_cooperacao.id %}">{{item_rateio.termo_cooperacao|default:'-'}}</a>
                    {% else %}
                        <p class="text-detail">{{item_rateio.termo_cooperacao|default:'-'}}</p>
                    {% endif %}
                </div>

                <div class="flex flex-col gap-1">
                    <label class="label-detail">Porcentagem</label>
                    <p class="text-detail">{{item_rateio.porcentagem|default:"0"}} %</p>
                </div>

                <div class="flex flex-col gap-1">
                    <label class="label-detail">Valor</label>
                    <p class="text-detail">{{item_rateio.valor|default:"0,00"|intcomma}}</p>
                </div>

                <div class="flex flex-col gap-1">
                    <label class="label-detail">Data de criação</label>
                    <p class="text-detail">{{item_rateio.data_criacao|date:"d/m/Y"|default:"-"}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</main>

<div class="modal_delete" data-position="center">
    <section data-id="modal_delete" class="rounded justify-between h-full flex-col flex modal--content ">
        <form method="post" action="{% url 'rateio_delete' object.id %}">
            {% csrf_token %}
            <div class="flex flex-col">
                <header class="flex items-center justify-between h-[.375rem] bg-primary-pure rounded-t"></header>

                <div
                    class="w-[20rem] self-center font-semibold flex-col flex items-center justify-center gap-12 mt-32 px-8">
                    <p class="text-neutral-90 text-lg">Excluir rateio</p>
                    <p class="text-neutral-70 text-center">
                        Deseja mesmo excluir o rateio <span class="text-neutral-80">{{object.id}}</span>? Esta ação é irreversível.
                    </p>

                    <p class="text-neutral-70 text-center">
                        Excluir este rateio também excluirá
                        <span class="text-neutral-80">todos</span>
                        os lançamentos financeiros atrelados à ele.
                    </p>
                </div>
                <div class="h-[.0625rem] w-full  bg-neutral-30 mt-32"></div>
                <div class="flex items-center gap-16 justify-between px-24 my-12 w-full">

                    <button data-xclose="modal_delete" type="button" class="btn secondary h-48 flex-1">Cancelar</button>
                    <button data-xclose="modal_delete" type="submit" class="btn h-48 flex-1 ">Excluir</button>
                </div>
            </div>
        </form>
    </section>
</div>

{% endblock %}

{% block extra_js_vendor %}
<!-- -->
{% endblock %}

{% block extra_js %}
<script>
    const modal_delete = ModalX('.modal_delete', {
        deep: true,
        zIndex: 1000000,
        zIndexDeep: 900000,
        bgModal: "white"
    }).init()

    function clickSubmit() {
        // const btnSubmit = document.querySelector('.buttonSubmit')
        // console.log(btnSubmit)
        // btnSubmit.addEventListener('click',onsubmit)
        window.location.reload()
    }


    function openModal(deleteButton) {
        const dataId = deleteButton.getAttribute('data-id')
    }
</script>
{% endblock %}