<div class="mt-8">
	<!-- For de termos aqui -->
	{% for object in object_list %}
	<div class="h-[.0625rem] col-span-full my-16 bg-neutral-30"></div> 
	<div class="card-termo-item">
		<label class="text-neutral-90 text-base font-semibold">
			<a href="{% url 'termo_cooperacao_nivel4_detail' object.id %}" target="_blank" class="text-primary-pure">
				{{object.nome}}
			</a>
		</label>
		<div class="flex flex-col mb-32">
			<div class="table-fluxo-dados">
				{% include 'financeiro/saldo_termo/table_saldos.html' %}
			</div>
		</div>
	</div>
	
		
		{% empty %}
		<div class="text-detail px-24">
			Nenhum termo encontrado!
		</div>
	{% endfor %}

	
</div>