{% extends 'base.html' %}
{% load widget_tweaks %}
{% load humanize %}
<!--  -->

{% block extra_styles_vendor %}
{% endblock %}

<!--  -->

{% block extra_styles %}
{% endblock %}

<!--  -->

{% block content %}
<main class="container-content">
	{% include 'top_buttons.html' %}
	<div class="card mt-32 gap-24 px-24 py-24 flex flex-col w-full md2:mt-0">
		<h1 class="font-medium text-neutral-80 text-xs leading-100 tracking-[0.08em] uppercase">Somatório de todos os termos</h1>
		<div class="card-termo-item">
			<div class="flex flex-col">
				<div class="table-fluxo-dados">
					{% include 'financeiro/saldo_termo/table_saldo_total.html' %}
				</div>
			</div>
		</div>
	</div>
	<div class="card mt-16 mb-48 px-24 py-24 flex flex-col w-full md2:mt-0">
		{% include 'financeiro/saldo_termo/card_filtros.html' %}
		{% include 'financeiro/saldo_termo/card_termos.html' %}
	</div>
</main>
{% endblock %}

<!-- -->

{% block extra_js_vendor %}
{% endblock %}

<!--  -->

{% block extra_js %}
<script>
	const wrapperBadge = document.querySelector('.wrapper-filters')
	const wrapperFields = document.querySelector('.modal_filtros')

	modalFiltrar(wrapperBadge, wrapperFields).init()
	const modal_filtros = ModalX('.modal_filtros', {
		deep: true,
		zIndex: 1000000,
		zIndexDeep: 900000,
		bgModal: "white"
	}).init()
</script>


<script>
	function deleteBadge(svg) {
		const inputs = document.querySelectorAll('[type="checkbox"]')
		const badge = svg.closest('.badge')


		const jsBadgeValue = badge.getAttribute('js-badge-value')
		inputs.forEach(input => {
			// console.log(input.value, 'aaaa', jsBadgeValue)
			if (input.value === jsBadgeValue) {
				input.click()
				badge.remove()
			}
		})
	}


	function geraBadge(wrapper, input) {
		label = input.closest('label').textContent
		wrapper.innerHTML += `<div class="badge badge-selecao items-center gap-4" js-badge-value="${label}">
											${label}
											<svg onclick="deleteBadge(this)" class="w-16 h-16 cursor-pointer">
												<use xlink:href="#icon_close"></use>
											</svg>
										 </div>`
	}

	function searchBadge(wrapper, input) {
		let badgeVar = ''
		label = input.closest('label').textContent
		wrapper.querySelectorAll('.badge-selecao').forEach(badge => {
			// console.log(badge, 'badge 2', badge.getAttribute('js-badge-value'), label)
			if (badge.getAttribute('js-badge-value') == label) {
				// console.log('entrou')
				badgeVar = badge
			}
		})
		return badgeVar
	}


	function checkedInput() {
		const wrapper = document.querySelector('.wrapper-selecao')
		const inputs = document.querySelectorAll('[type="checkbox"]')
		// console.log(inputs)
		inputs.forEach(input => {
			input.addEventListener('click', () => {
				if (input.checked && searchBadge(wrapper, input) === '') {
					geraBadge(wrapper, input)

				} else {
					const badge = searchBadge(wrapper, input)
					// console.log(badge, 'badge')
					if (badge) {
						badge.remove()
					}
				}
			})
		})
	}

		function manterFilterEmpresa() {
			const empresa = window.location.search
			const obj = GLOBAL.splitFilters(empresa)
			const select = document.querySelector('[name="empresa"]')
			if (obj.empresa.replace("-", "") !== '') {
				const choice = GLOBAL.getChoicesActive(select.id, listOfChoices)
				if (choice) {
					choice.setChoiceByValue(obj.empresa)
				}
			}
		}

	(function init() {
		checkedInput()
		manterFilterEmpresa()
	})()
</script>
{% endblock %}