{% load humanize %}

<table id="table-dados">
    <thead>
        <tr>
            <th data-reference="coluna_1" class="column-first !w-[12.5rem]">
                <p></p>
            </th>
            <th data-reference="coluna_2">
                <p>Total</p>
            </th>
            <th data-reference="coluna_3">
                <p>Pago</p>
            </th>
            <th data-reference="coluna_4">
                <p>Aberto</p>
            </th>
            <th data-reference="coluna_5">
                <p>Pago + aberto</p>
            </th>
            <th data-reference="coluna_6">             
                <div class="texthelper-icon" data-tippy-content="Saldo disponível vira saldo real (T) - (P)">
                    <p>Saldo disponível</p>
                    <svg>
                        <use xlink:href="#icon_helper"></use>
                    </svg>
                </div>
            </th>
            <th data-reference="coluna_7">                        
                <div class="texthelper-icon" data-tippy-content="Saldo previsto vira saldo acumulado (T) - (P) - (A)">
                    <p>Saldo previsto</p>
                    <svg>
                        <use xlink:href="#icon_helper"></use>
                    </svg>
                </div>
            </th>
            <th data-reference="coluna_8">
                <p>Contigência atual</p>
            </th>
            <th data-reference="coluna_9">
                <p>Contigência prevista</p>
            </th>
        </tr>
    </thead>
    {% with object.saldos as saldos %}
        <tbody>
            <tr>
                <td data-reference="coluna_1" class="column-first">
                    <div class="px-8 py-10 td-container">
                        <p class="font-semibold">Valor do termo</p>
                    </div>
                </td>
                <td data-reference="coluna_2">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.saldo_inicial_geral|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_3">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.total_fechado_geral|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_4">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.total_aberto_geral|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_5">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.total_aberto_fechado_geral|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_6">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.saldo_atual_geral|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_7">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.saldo_previsto_geral|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_8">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.contingencia_fechada_geral|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_9">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.contingencia_aberta_geral|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-reference="coluna_1" class="column-first">
                    <div class="px-8 py-10 td-container">
                        <p class=" font-semibold">Valor do PPT</p>
                    </div>
                </td>
                <td data-reference="coluna_2">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.saldo_inicial_ppt|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_3">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.total_fechado_ppt|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_4">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.total_aberto_ppt|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_5">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.total_aberto_fechado_ppt|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_6">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.saldo_atual_ppt|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_7">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.saldo_previsto_ppt|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_8">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.contingencia_fechada_ppt|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_9">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.contingencia_aberta_ppt|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-reference="coluna_1" class="column-first">
                    <div class="px-8 py-10 td-container">
                        <p class=" font-semibold">Valor da capacitação</p>
                    </div>
                </td>
                <td data-reference="coluna_2">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.saldo_inicial_capacitacao|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_3">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.total_fechado_capacitacao|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_4">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.total_aberto_capacitacao|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_5">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.total_aberto_fechado_capacitacao|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_6">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.saldo_atual_capacitacao|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_7">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.saldo_previsto_capacitacao|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_8">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.contingencia_fechada_capacitacao|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_9">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.contingencia_aberta_capacitacao|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-reference="coluna_1" class="column-first">
                    <div class="px-8 py-10 td-container">
                        <p class=" font-semibold">Valor da divulgação</p>
                    </div>
                </td>
                <td data-reference="coluna_2">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.saldo_inicial_divulgacao|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_3">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.total_fechado_divulgacao|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_4">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.total_aberto_divulgacao|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_5">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.total_aberto_fechado_divulgacao|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_6">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.saldo_atual_divulgacao|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_7">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.saldo_previsto_divulgacao|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_8">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.contingencia_fechada_divulgacao|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_9">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.contingencia_aberta_divulgacao|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-reference="coluna_1" class="column-first">
                    <div class="px-8 py-10 td-container">
                        <p class=" font-semibold">Valor do quipamento</p>
                    </div>
                </td>
                <td data-reference="coluna_2">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.saldo_inicial_equipamento|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_3">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.total_fechado_equipamento|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_4">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.total_aberto_equipamento|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_5">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.total_aberto_fechado_equipamento|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_6">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.saldo_atual_equipamento|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_7">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.saldo_previsto_equipamento|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_8">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.contingencia_fechada_equipamento|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
                <td data-reference="coluna_9">
                    <div class="px-8 py-10 td-container">
                        <p class="">R$ {{saldos.contingencia_aberta_equipamento|default:"0,00"|intcomma}}</p>
                    </div>
                </td>
            </tr>
        </tbody>
    {% endwith %}
</table>