<h2>Dashboard</h2>
<a href="{% url 'resumo_financeiro' %}">Resumo</a>

<h2>Gerenciamento</h2>
<a href="{% url 'caixas_e_bancos' %}">Caixa e Bancos</a> <br>
<a href="{% url 'conta_nivel1' %}">Conta Gerencial - Nível 1</a> <br>
<a href="{% url 'conta_nivel2' %}">Conta Gerencial - Nível 2</a> <br>
<a href="{% url 'conta_nivel3' %}">Conta Gerencial - Nível 3</a> <br>
<a href="{% url 'fluxo_caixa' %}">Fluxo de Caixa</a> <br>
<a href="{% url 'lancamentos_contas_a_pagar' %}">Lançamentos Contas a Pagar</a> <br>
<a href="{% url 'lancamentos_contas_a_receber' %}">Lançamentos Contas a Receber</a> <br>
<a href="{% url 'pre_lancamentos_contas_a_pagar' %}">Pré-lançamentos Contas a Pagar</a> <br>
<a href="{% url 'saldo_termos' %}">Saldo Termos</a> <br>
<a href="{% url 'tipo_documento_contas_a_pagar' %}">Tipo Documento de Contas a Pagar</a> <br>