{% load widget_tweaks %}
{% load humanize %}
<div class="wrapper-inline px-24"  data-js-inline="inline_parcela" data-edit="{% if object %}true{% else %}false{% endif %}">
    <label class="font-semibold label col-span-full">Parcelas</label>
    {% if not possui_parcelas %}
    <div class="flex py-24 mb-16 gap-16" data-js-inline="inline_parcela" js-container-parcela>
        <div class="flex justify-start gap-16 items-center md2:flex-wrap md2:gap-8" data-js-inline="inline_parcela">
            <div class="flex flex-col gap-4">
                <label class="label">Quantidade de parcelas *</label>
                <input data-js-inline="inline_parcela" type="number" required min="1" max="12"
                    class="input-text h-48 qtd-inlines">
            </div>

            <div class="flex flex-col gap-4">
                <label class="label">Primeira parcela em: *</label>
                <input data-js-inline="inline_parcela" id="primeira_parcela" type="date" value="{{in_fifteen_days}}"
                    required class="input-text h-48">
            </div>

            <div class="flex flex-col gap-4">
                <label class="label">Gerar a cada: *</label>
                <div class="flex gap-16 items-center md2:flex-wrap md2:gap-8">
                    <input data-js-inline="inline_parcela" id="intervalo_parcelas" type="number" value=30 required
                        class="input-text h-48">
                </div>
            </div>
            <div class="flex flex-col gap-4 self-end">
                <div class="select-container h-48 select-left mb-2">
                    <select class="" id="dia_mes" js-choices placeholder="Selecione">
                        <option value="dias" selected>Dia(s)</option>
                        <option value="meses">Mes(es)</option>
                    </select>
                </div>
            </div>

            <button class="btn secondary botao-parcelas h-48 add_inline mt-24" id="gerar_parcelas" data-js-inline="inline_parcela"
                type="button">Gerar parcelas</button>
        </div>
    </div>
    {% endif %}

    {{parcela_inline_formset.management_form}}
    {% for inline_form in parcela_inline_formset %}
    <div class="inline-item inline-{{forloop.counter0}} border border-neutral-30 rounded-sm p-16 my-24 relative"
        data-js-inline="inline_parcela">
        {{inline_form.errors}}
        {{inline_form.DELETE|add_class:'hidden'}}
        {{inline_form.id}}

        <div class="grid grid-cols-4 mb-16 gap-16 md2:grid-cols-1">
            <label for="" class="label titulo-parcela col-span-full font-semibold">Parcela <span
                    class="n-parcelas">{{forloop.counter}}</span> </label>

            <div class="flex flex-col gap-4">
                <label for="" class="label">{{parcela_inline_formset.empty_form.data_referencia.label}}</label>
                {{inline_form.data_referencia|add_class:'h-48'|attr:'js-ativo'|attr:'js-data-referencia'}}
            </div>
            <div class="flex flex-col gap-4">
                <label for="" class="label">{{inline_form.data_vencimento.label}}</label>
                {{inline_form.data_vencimento|add_class:'h-48'|attr:'js-ativo'|attr:'js-data-vencimento'}}
            </div>

            <div class="flex flex-col gap-4">
                <label for="" class="label">{{inline_form.data_pagamento.label}}</label>
                {{inline_form.data_pagamento|add_class:'h-48'|attr:'js-ativo'|attr:'js-data-pagamento'}}
            </div>
            <div></div>

            <div class="flex flex-col gap-4">
                <label for="" class="label">{{inline_form.valor.label}}</label>

                <div class="input-icon icon-left">
                    {{inline_form.valor|add_class:'h-48'|attr:'js-ativo'|attr:'js-valor'}}
                    <svg>
                        <use xlink:href="#icon_dolar"></use>
                    </svg>
                </div>
            </div>
            <div class="flex flex-col gap-4">
                <label for="" class="label">{{inline_form.acrescimo.label}}</label>

                <div class="input-icon icon-left">
                    {{inline_form.acrescimo|add_class:'h-48'|attr:'js-ativo'|attr:'js-acrescimo'}}
                    <svg>
                        <use xlink:href="#icon_dolar"></use>
                    </svg>
                </div>
            </div>


            <div class="flex flex-col gap-4">
                <label for=" " class="label">{{inline_form.desconto.label}}</label>

                <div class="input-icon icon-left">
                    {{inline_form.desconto|add_class:'h-48'|attr:'js-ativo'|attr:'js-desconto'}}
                    <svg>
                        <use xlink:href="#icon_dolar"></use>
                    </svg>
                </div>
            </div>
            <div class="flex flex-col gap-4">
                <label for="" class="label disabled">Valor efetivo</label>

                <div class="input-icon icon-left">
                    <input type="text" class="input-text h-48 disabled efetivo_parcela" id="id_valor" js-valor-efetivo
                        disabled js-ativo placeholder="dinamico"
                        value="{{inline_form.instance.valor_efetivo|intcomma}}">
                    <svg>
                        <use xlink:href="#icon_dolar"></use>
                    </svg>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-16">
            <div class="flex flex-col gap-4">
                <label for="{{inline_form.caixa_banco_real.id_for_label}}"
                    class="label text-neutral-80">{{inline_form.caixa_banco_real.label}} *</label>
                    <div class="select-container h-48">

                        {{inline_form.caixa_banco_real}}
                    </div>
            </div>

            <div class="flex flex-col gap-4">
                <label for="{{inline_form.conta_gerencial.id_for_label}}"
                    class="label text-neutral-80">{{inline_form.conta_gerencial.label}} *</label>
                    <div class="select-container h-48">
                        {{inline_form.conta_gerencial}}
                    </div>
            </div>

            <div class="flex flex-col col-span-full">
                <label class="label observacoes">{{inline_form.observacoes.label}}</label>
                {{inline_form.observacoes|add_class:'h-48'|attr:'js-ativo'}}
            </div>
        </div>

        <button type="button"
            class="remove-button cursor-pointer w-32 h-32 bg-alert-red-10 rounded-full absolute top-8 right-8 grid place-items-center transition-transform hover:scale-110 remove_inline-{{forloop.counter0}}"
            data-js-inline="inline_parcela">
            <svg class="text-alert-red-100 w-16 h-16">
                <use xlink:href="#icon_close"></use>
            </svg>
        </button>
    </div>
    {% endfor %}


    <div class="hidden" data-js-inline="inline_parcela" data-callback
        onclick="preencheParcelas(this.closest('.wrapper-inline'))"></div>

</div>
{% if possui_parcelas %}
<div class="flex w-full px-24 justify-end ">
    <button class="btn secondary  h-48 add_inline mt-24" data-js-inline="inline_parcela" type="button">Adicionar nova
        parcela</button>
</div>

{% endif %}