{% extends 'base.html' %}
{% load static %}

{% block body_class %}
{% endblock %}


{% block content %}
<main class="container-content">
	{% include 'top_buttons.html' %}

	<div class="card mt-30">
		<div class="flex justify-between">
			<div class="p-24 m-4">
				<h1 class="title">Fornecedor</h1>
			</div>
			<div class="p-24 m-4">
				<a href="{% url 'fornecedor_create' %}" class="btn"> + Novo Fornecedor</a>
			</div>
		</div>
		<div class="flex">
			<div class="table-container">
				<div data-table id="grid-table"></div>
				<input type="text" class="hidden" data-server-url value="{{server_url}}" />
				<input type="text" class="hidden" data-columns-url value="{{columns_url}}" />
			</div>
		</div>
	</div>
</main>
{% endblock %}

<!--  -->

{% block extra_js %}
<script>
	const initTable = async () => {
		const dataElement = document.querySelector("[data-table]");
		if (!dataElement) return;

		const serverStr = document.querySelector("[data-server-url]").value;
		const columnsStr = document.querySelector("[data-columns-url]").value;
		const urls = {
			serverUrl: serverStr,
			columnsURL: columnsStr,
		};

		const tableContainer = document.querySelector("#grid-table");
		const request = await GLOBAL.get(urls.columnsURL);
		if (!request) return;


		const {
			columns
		} = await request.data


		const customColumns = columns.map((c) => {
			const condition = gridjs.html(`<div>  </div>`);
			const formatacao = (currentValue, row) =>
				gridjs.html(`<a href='${currentValue.url}'>${currentValue.name}</a>`);

			return {
				id: c.id,
				name: c.name,
				formatter: c.action ? formatacao : null,
			};
		});

		GLOBAL.initGRIDJS(tableContainer, urls, customColumns, {
			///props
		});
	};

	(function init() {
		initTable();
	})();
</script>
{% endblock %}